.eventContainer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  background: #ffffff;
  padding: 1.8rem;
  border-radius: 12px;
}

.addButton {
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: #6246ea;
  border: none; 
  border-radius: 10px;
  cursor: pointer;
  margin-top: 0.8rem;
  transition: 0.2s;
}

.addButton:hover {
  background: #5137d6;
}

.eventNameLabel {
  font-size: 0.9rem;
  font-weight: 600;
}

.errorText {
  color: #d32f2f;
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 8px;
}

.inputElement {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}
